<div class="container-fluid">
  <div class="row">
  	<div class="col-md-12 about_ling">
  		<h4>About <b>Linguaza</b> <%= image_tag("blackbird.png", :border => 0, :height => 60) %> </h4>
  	</div>
  </div>
  <div class="row">
    
    <div class="col-md-3 about-authors">
    	<%= image_tag("ivana.jpg", :border => 0, :class => 'author-img')%>
    	<h4><b>Ivana Lieska (Atenna)</b></h4>
    	<p class="p-small">Ivana is a web developer, artist, traveller and nosql enthusiast interested in learning
    	foreign languages and chatting with people from all around the world. She has been coding for
    	4 years. She decided to study Computer Science accidentally, her brother advised her to do so.
    	She loves working with design, colors and new technologies.</p>
    	<p class="p-small">She speaks Slovak, Czech, English, French (un petit peu - she graduated from French), she learns
    	Spanish and German, too. She can also speak Java, HTML, CSS, SQL, a little bit Python, Ruby and
    	Ruby on Rails ... And she understands aslo some shell script. She would love to find a job where
    	she could study new technologies all the time.</p>
    	<p class="p-small">
    	<b>Favourite meal:</b> chocolate and carrots <br>
    	<b>Favourite animal:</b> Afghan Hound <br>
    	<b>Favourite country:</b> Netherlands, France, Estonia, Spain <br>
    	</p>	
    </div>

  	<div class="col-md-9 about-app">
  		<h4>About App</h4>
 	</div>

  </div>
</div>
